.c-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-nav-list__item {
  padding: 1rem;
}

.c-nav-list__item-spacing {
  padding-bottom: .2rem;
}

.c-nav-list__link {
  @extend .soft-transition;
}