//Neutrals
$color--black:      #000000;
$color--white:      #FFFFFF;

//Theme colors
$color--light-grey: #1c1c1c;
$color--grey:       #999;
$color--teal:       #33B2B5;
$color--deep-red:   #850101;

//text colors
$color--primary-text: $color--grey;

//Link hover text
$color--link-hover: $color--teal;