* {
  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
  color: $color--grey;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  line-height: 1.5;
}

a {
  color: $color--grey;
  text-decoration: none;
  @extend .soft-transition;

   &:hover {
    color: $color--teal;
   }
}

address {
  font-style: normal;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  border: 0;

  &:focus,
  &:focus-within,
  &:active {
    outline: none;
  }
}

input[type=submit] {
  padding: 12px 20px;
  border: 0;
  background-color: $color--teal;
  color: $color--white;
  @extend .soft-transition;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 11px #33b2b5;
  }
}